{% extends "::base.html.twig" %}

{% block title %}RobotParserBundle:CategoryAdminController:index{% endblock %}

{% block body %}
<h1>Welcome to the CategoryAdminController:index page</h1>
{% endblock %}
